<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- css -->
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />
<link rel="stylesheet" href="./mercari.css" />
<!-- script -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<script src="/js/mercari.js"></script>
<title>Rakus Items</title>
</head>
<body>
	<!-- navbar -->
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="./list.html">Rakus Items</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li><a id="logout" href="./login.html">Logout <i
							class="fa fa-power-off"></i></a></li>
				</ul>
				<p class="navbar-text navbar-right">
					<span id="loginName">user: userName</span>
				</p>
			</div>
		</div>
	</nav>

	<div id="main" class="container-fluid">
		<!-- addItem link -->
		<div id="addItemButton">
			<a class="btn btn-default" href="./add.html"><i
				class="fa fa-plus-square-o"></i> Add New Item</a>
		</div>

		<!-- 検索フォーム -->
		<div id="forms">
			<form method="get" th:action="@{/category/findChildCategory}" th:object="${categoryForm}" class="form-inline" role="form" id="form">
				<div class="form-group">
					<input type="input" class="form-control" id="name"
						placeholder="item name" />
				</div>
				<div class="form-group">
					<i class="fa fa-plus"></i>
				</div>
				<div class="form-group">
					<select class="form-control" th:field="*{id}" id="parent" name="id">
					    <option value=0>--</option>
						<option th:each="category:${categoryList}" th:text="${category.name}"  th:value="${category.id}">- parentCategory -</option>
					</select> 
					<select class="form-control" th:field="*{parentId}" id="childParent" name="parentId" >
					<option value=0>--</option>
						<option th:each="category:${childCategoryList}" th:text="${category.name}" th:value="${category.id}">- childCategory -</option>
					</select> 
					<select class="form-control" th:field="*{grandchildParentId}" name="grandChildParentId" id="grandChildParent" >
					<option value=0>--</option>
						<option th:each="category:${grandChildCategoryList}" th:text="${category.name}" th:value="${category.id}">- grandChild -</option>
					</select>
				</div>
				<div class="form-group">
					<i class="fa fa-plus"></i>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="brand" />
				</div>
				<div class="form-group"></div>
				<button type="submit" class="btn btn-default">
					<i class="fa fa-angle-double-right"></i> search
				</button>
			</form>
		</div>

		<!-- pagination -->
		<div class="pages">
      <nav class="page-nav">
        <ul class="pager">
          <li class="previous"><a th:href="@{'/item?nextOrPre='+'-1'}">&larr; prev</a></li>
          <li class="next"><a th:href="@{'/item?nextOrPre='+'1'}">next &rarr;</a></li>
        </ul>
      </nav>
		</div>

		<!-- table -->
		<div class="table-responsive">
			<table id="item-table" class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>name</th>
						<th>price</th>
						<th>category</th>
						<th>brand</th>
						<th>cond</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item:${itemList}">
						<td class="item-name"><a th:href="@{'/item/showDetail?id='+${item.id}}"
							th:text="${item.name}">Razer BlackWidow Chroma Keyboard</a></td>
						<td class="item-price" th:text="${item.price}">52.0</td>
						<td class="item-category">
							<a th:href="@{'/item/findByCategory?nameAll='+${item.bigCategory}+'/'}" th:text="${item.bigCategory}">Electronics</a> / 
						  	<a th:href="@{'/item/findByCategory?nameAll='+${item.bigCategory}+'/'+${item.middleCategory}+'/'}" th:text="${item.middleCategory}">Computers &amp; Tablets</a> / 
						  	<a th:href="@{'/item/findByCategory?nameAll='+${item.bigCategory}+'/'+${item.middleCategory}+'/'+${item.smallCategory}}" th:text="${item.smallCategory}">Components &amp; Parts</a></td>
						<td class="item-brand"><a href="" th:text="${item.brand}">Razer</a></td>
						<td class="item-condition" th:text="${item.condition}">3</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- pagination -->
		<div class="pages">
      <nav class="page-nav">
        <ul class="pager">
          <li class="previous"><a th:href="@{'/item/findByCategory?nextOrPre='+'-1'}">&larr; prev</a></li>
          <li class="next"><a th:href="@{'/item/findByCategory?nextOrPre='+'1'}">next &rarr;</a></li>
        </ul>
      </nav>
			<!-- ページ番号を指定して表示するフォーム -->
			<div>
				<form class="form-inline" th:action="@{/item}">
					<!-- <div th:if="${itemPage.totalPages > 0}" class="pagination"
						th:each="pageNumber : ${pageNumbers}">
						<a
							th:href="@{/item(size=${itemPage.size}, page=${pageNumber}, name=${name})}"
							th:value=${pageNumber}
							th:class="${pageNumber==itemPage.number + 1} ? active"> <input
							class="btn btn-primary" type="submit" th:value=${pageNumber}>
						</a>
					</div> -->
					<div class="form-group">
						<div class="input-group col-xs-6">
							<label></label> <input type="text" class="form-control" name="page"/>
							<!-- 総ページ数 -->
							<div class="input-group-addon">/ 20</div>
						</div>
						<div class="input-group col-xs-1">
							<button type="submit" class="btn btn-default">Go</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>